.navbar{
    width: 100%;
    height: 80px;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.navbar-container{
    display: flex;
    height: 80px;
    align-items: center;
    width: 100%;
    max-width: 1720px;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 75px;
    display: flex;
    list-style: none;
    color:#fff;
    width: 78vw;
    justify-content: end;
}
.nav-item{
    font-size: 1.4rem
}
.menu-icon{
    display: none;
}

@media screen and (max-width:1080px) {
    .navbar{
        height: 60px;
        width: 100%;
        justify-content: unset;
    }
    .navbar-container{
        justify-content: space-between;
        padding: 0 25px;
    }
    .navbar-logo .logo{
        height: 20px;
    }
    .nav-menu {
        display: block;
        width: 100%;
        position: absolute;
        height: 0;
        top: 60px;
        left: 0;
        background-color: #111111;
        transition: height 0.3s ease-out;
        overflow: hidden;
        z-index: 999;
    }
    .nav-menu.active{
        height: 90vh;
    }
    .navbar .nav-item{
        padding: 20px 30px;
        font-size: 1.2rem;
    }

    .navbar .menu-icon{
        display: block;
        width: 22px;
    }
    .navbar .icon{
        width: 100%;
    }
}